<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/basic">

<head>
	<link rel="stylesheet" th:href="@{/css/member/login.css}" href="member/login.css">
	<style>
		.breadcrumb-section{
			padding-top: 200px;
			padding-bottom: 210px;
		}
	</style>
</head>
<body>
	<!-- breadcrumb-section -->
	<th:block layout:fragment="content">
	<div class="breadcrumb-section breadcrumb-bg" >
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<div class="container">
							<div class="row ">
								<div class="col-md-9 mx-auto">

									<form class="form-horizontal" th:action="@{/member/register}" th:method="post">
										<h1>SignUp</h1>
										<div class="form-group">
											<input type="text" class="form-control" id="email" name="email" placeholder="Email">
											<i class="fa fa-user"></i>
										</div>
										<div class="form-group help">
											<input type="password" class="form-control" id="pw" name="pw" placeholder="Password">
											<i class="fa fa-lock"></i>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
											<i class="fa fa-user"></i>
										</div>
											<button type="submit" class="btn btn-default ml-2">SignUp</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	</th:block>
</body>
</html>